<div class="content" style="width: 100%; height: 100%;" role="main" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
  <!-- <div class="card-container">
    <a class="card">
      Arrastre un archivo
    </a>
  </div> -->
  <table class="table table-bordered">
    <thead>
      <tr class="table-info">
        <th style="text-align: center;">Despliegue de archivo | Recursividad</th>
        <th style="text-align: center;">V</th>
        <th style="text-align: center;">T</th>
        <th style="text-align: center;">Variables y Producciones</th>
      </tr>
    </thead>
    <tbody>
      <tr><!-- Despliegue de archivo -->
        <td>
          <ul *ngFor="let despliegue of textArray">
            {{despliegue}}
          </ul>
        </td>
        <td><!-- V -->
          <table>
            <tr *ngFor="let variable of V">
              {{variable}}
            </tr>
          </table>
        </td>
        <td><!-- e -->
          <table>
            <tr *ngFor="let terminal of T">
              {{terminal}}
            </tr>
          </table>
        </td>
        <!-- A -->
        <td>
          <table class="table table-bordered">
            <thead>
              <td>
                Variable
              </td>
              <td>
                Producción
              </td>
            </thead>
            <tbody>
              <tr *ngFor="let object of objectVarProductions">
                <td>
                  {{object.variable}}
                </td>
                <td>
                  <!-- <td [innerHTML]="object.production"> -->
                  {{object.production}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="table table-bordered">
    <thead>
      <tr class="table-success">
        <th style="text-align: center;">Despliegue de archivo | Sin Recursividad</th>
        <th style="text-align: center;">V</th>
        <th style="text-align: center;">T</th>
        <th style="text-align: center;">Variables y Producciones</th>
        <th style="text-align: center;">Funcion Primera</th>
        <th style="text-align: center;">Funcion Siguiente</th>
        <th style="text-align: center;">Tabla de Símbolos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><!-- Despliegue de archivo -->
          <ul *ngFor="let despliegue of fileDisplayText">
            {{despliegue}}
          </ul>
        </td>
        <td><!-- Variables -->
          <table>
            <tr *ngFor="let variable of VWR">
              {{variable}}
            </tr>
          </table>
        </td>
        <td><!-- Terminales -->
          <table>
            <tr *ngFor="let terminal of TWR">
              {{terminal}}
            </tr>
          </table>
        </td>
        <td><!-- Variables y Producciones -->
          <table class="table table-bordered">
            <thead>
              <td>
                Variable
              </td>
              <td>
                Producción
              </td>
            </thead>
            <tbody>
              <tr *ngFor="let objeto of variablesAndTerminalsWRecursivityShow">
                <td>
                  {{objeto.variable}}
                </td>
                <td>
                  <!-- <td [innerHTML]="object.production"> -->
                  {{objeto.production}}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td><!-- Funcion Primera -->
          <table class="table table-bordered">
            <thead>
              <!-- <tr>
                <th *ngIf="!TWR">V</th>
                <th *ngFor="let terminal of TWR">{{terminal}}</th>
              </tr> -->
            </thead>
            <tbody>
              <tr *ngFor="let funcion of funcionPrimera">
                {{funcion}}
              </tr>
            </tbody>
          </table>

        </td>
        <td><!-- Funcion Siguiente -->
        </td>
        <td> <!-- Tabla de Simbolos -->
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>V/T</th>
                <th *ngFor="let terminal of TWR">{{terminal}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let variable of VWR">
                <td>{{variable}}</td>
                <td *ngFor="let terminal of makeSymbolTable(variable)">{{terminal}}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
